{% extends "base.html" %}

{% block content %}
<br />
<div class="container">
  <div class="row">
    <div class="col-sm">
      <form id="calc" method="POST" action="{{ url_for('main.pos') }}">
        <div class="input-group mb-3">
          <select class="form-control" id="clientlist" name="clients">
              <option selected="true" disabled>Choose Client</option>
              {% for client in clients %}
              <option value="{{client["clientid"]}}">{{client["name"]}}</option>
              {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Location Configuration</button>
      </form>
    </div>
    <div class="col-sm">
      <div class="card">
        <h5 class="card-header">Client Details</h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}